body{
    margin:0;
}
.sidenav li a{
    padding: 15px;
    text-align: center;
    text-decoration: none;
}
.sidenav{
    background: #f1f1f1;
}
.sidenav::after{
    content: "";
    clear: both;
    display: table;
}
.sidenav li{
    list-style-type: none;
}
.sidenav li .active{
   
    background: #3fa435;
}
.sidenav{
    padding-left:0;
}
@media screen and (min-width: 900px){
    .sidenav li a{
        float:left;
    }
}
@media screen and (max-width: 900px)  {
    .sidenav li a {
        padding: 15px;
        text-align: center;
        text-decoration: none;
        display: block;
    }
}